* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
}
.header {
	width: 100%;
	padding: 10px 15px;
	background: purple;
	text-align: center;
	color: white;
}
.addtodo {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0;
	background: rgb(221, 177, 221);
}
.addtodo input,
.addtodo button {
	font-size: 14px;
}
.addtodo input,
.edit-form input {
	height: 27px;
	padding: 0 10px;
	border: 1px solid rgba(128, 0, 128, 0.548);
}
.addtodo button {
	padding: 6px 10px;
	background: purple;
	color: white;
	border: 0;
}
.edit-form input {
	width: 100%;
	margin-bottom: 5px;
}
.edit-form button {
	margin: 0 3px;
	padding: 3px 5px;
	color: white;
	border: 0;
	background: purple;
	cursor: pointer;
	border-radius: 4px;
	opacity: 0.8;
}
.edit-form button:last-child {
	border: 1px solid purple;
	background: white;
	color: purple;
}
.edit-form button:hover {
	opacity: 1;
}
.edit-form div {
	width: 100%;
	display: flex;
	justify-content: center;
}
.todolist {
	padding: 10px 5px;
}
.todolist li {
	list-style-type: none;
	background: rgba(221, 160, 221, 0.384);
	padding: 6px 6px;
	font-size: 16px;
	border-left: 3px solid purple;
	margin-bottom: 5px;
}
.todo-text {
	margin-left: 10px;
	cursor: pointer;
}
.delBtn {
	margin-left: 2px;
	padding: 0 3px;
	color: red;
}

.nav {
	display: flex;
	justify-content: center;
	margin: 5px 0;
}
.nav button {
	margin: 0 5px;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 14px;
	border: 1px solid purple;
	border-radius: 4px;
	opacity: 0.8;
}
[aria-pressed='true'] {
	background: purple;
	color: white;
}
[aria-pressed='false'] {
	background: none;
	color: purple;
}
.nav button:hover {
	background: purple;
	color: white;
	opacity: 1;
}
